<div class="content h-full w-full flex flex-col items-center">
  <header class=" w-full bg-zinc-900 h-24 flex justify-end items-center p-5 m-0">
    <button class="bg-teal-800 p-2 text-neutral-400" (click)="onLogout()">Logout</button>
  </header>
  <div class="main w-4/5 h-4/5 bg-gradient-to-b from-neutral-950/90 to-stone-500/50 flex flex-col justify-center items-center rounded-lg">
    <h1 class="text-5xl text-neutral-400 mb-20">My Inventories</h1>
    <button class="bg-teal-800 p-2 text-neutral-400">Spare-Parts List</button>
  </div>
</div>
