.content-wrap {
background-image: url("/assets/img/bg-3.jpg");
background-size: cover;
background-repeat: no-repeat;
  background-position: center;
}
// .login-window {
//   width: 300px;
//   height: 500px;
// }
