/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  // width: 100vw;
}

@font-face {
  font-family: "Kunit";
  src: url(assets/fonts/Kanit/Kanit-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: "Ubuntu";
  src: url(assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: "Josefin_Sans";
  src: url(assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: "Oxygen";
  src: url(assets/fonts/Oxygen/Oxygen-Regular.ttf);
  font-weight: regular;
}

app-spare-part-list{
  display:block;
}
