// .content {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   height: 100%;
//   width: 100%;
// }

.content-wrap {
  height: 100%;
  width: 100%;
  background-image: url("/assets/img/hardware2.jpg");
  background-size: cover;
}

// .btn-section {
//   display: flex;
//   flex-direction: column;
//   gap:30px;
// }

// h1 {
//   font-size: 50px;
//   color: rgb(179, 174, 174);
// }

// footer {
//   width:100%;
//   height: 50px;
//   background-color: grey;
// }
