<div class="content-wrap">
  <div class="content h-full w-full flex justify-center items-center">
    <div
      class="w-4/5 h-4/5 bg-gradient-to-b from-zinc-700 to-zinc-950/80 flex flex-col justify-between items-stretch"
    >
      <div class="flex flex-col gap-10 justify-center items-center mt-40">
        <h1 class="text-5xl text-neutral-400">WELCOME</h1>
        <div class="btn-section">
          <a [routerLink]="['/login']" class="bg-teal-800 rounded-sm p-2 mx-3"
            >Login</a
          >
          <a
            [routerLink]="['/register']"
            class="bg-teal-800 rounded-sm p-2 mx-3"
            >Sign Up</a
          >
          <a class="bg-teal-800 rounded-sm p-2 mx-3">Extra Button For Fun</a>
        </div>
      </div>
      <footer><p class="text-neutral-400">&copy; Dora Telekesi</p></footer>
    </div>
  </div>
</div>
