<div class="content-wrap">
  <div class="content">
    <header
      class="m-0 h-72 bg-gradient-to-b from-zinc-700 to-zinc-950 flex justify-center items-end"
    >
      <div class="flex justify-center items-center">
        <h1 class="text-5xl text-neutral-400">WELCOME</h1>
        <div class="btn-section">
          <a [routerLink]="['/login']" class="bg-teal-800 rounded-sm p-2 mx-3"
            >Login</a
          >
          <a
            [routerLink]="['/register']"
            class="bg-teal-800 rounded-sm p-2 mx-3"
            >Sign Up</a
          >
          <a class="bg-teal-800 rounded-sm p-2 mx-3">Extra Button For Fun</a>
        </div>
      </div>
    </header>

    <footer><p>&copy; Dora Telekesi</p></footer>
  </div>
</div>
