<div
  class="content h-full w-full flex flex-col items-center bg-gradient-to-b from-neutral-950/90 to-stone-500/50"
>
  <header class="w-full h-20 flex justify-between items-center p-5 m-0">
    <p *ngIf="user$ | async as user" class="text-neutral-400">
      {{ user.username }}
    </p>
    <button
      class="p-2 text-neutral-400 border border-solid rounded-sm"
      (click)="onLogout()"
    >
      Logout
    </button>
  </header>
  <div class="main w-full h-full flex flex-col justify-center rounded-lg">
    <div class="flex justify-between m-20">
      <h1 class="text-5xl text-neutral-400">Spare Parts</h1>
      <button [routerLink]="['/add-item']" class="text-neutral-400 p-2 rounded-sm border border-white">Add new item</button>
    </div>
    <div class="h-full w-full mb-20">
      <table
        class="bg-slate-50 table border-2 border-solid border-black w-full"
      >
        <thead class="bg-stone-800">
          <th class="text-neutral-400">Manufacturer</th>
          <th class="text-neutral-400">Model</th>
          <th class="text-neutral-400">Type</th>
          <th class="text-neutral-400">Depot</th>
          <th class="text-neutral-400">Amount</th>
          <th class="text-neutral-400">Remarks</th>
          <th class="text-neutral-400">Action</th>
        </thead>

        <tbody>
          <tr
            *ngFor="let sparePart of sparePartList$ | async; let i = index"
            class="px-2"
          >
            <th>{{ sparePart.manufacturer }}</th>
            <td>{{ sparePart.model }}</td>
            <td>{{ sparePart.type }}</td>
            <td>{{ sparePart.depot }}</td>
            <td>{{ sparePart.amount }}</td>
            <td>{{ sparePart.remarks }}</td>
            <td class="flex justify-evenly">
              <button class="p-2 bg-teal-600 rounded-md">Edit</button>
              <button class="p-2 bg-red-600 rounded-md">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
