.content {
  //background-image: url("/assets/img/bg-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
table {
  font-size:16px;
}
th,
td {
  border: 1px solid #ff6902;
}

tr {
  background-color: rgb(0, 0, 0);
}
